
.container {
  display: flex;
  height: 100%;
  width: 85vw;
  margin-top: 24px;
  margin-bottom: 24px;
  flex-direction: column;
  max-width: 1052px;
}

.sidebar {
  width: 100%;
  margin-bottom: 12px;
}
.sidebar {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
